<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">View Products
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-category' ? 'active' : '' %>" href="/admin/add-category">Add Category
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/categories' ? 'active' : '' %>" href="/admin/categories">View Categories
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-offer' ? 'active' : '' %>" href="/admin/add-offer">Add Offer
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/offers' ? 'active' : '' %>" href="/admin/offers">View Offers
                </a>
            </li>

        </ul>
    </nav>
</header>
